/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}