/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Share Styles */
.display_center{
    margin: 0 auto;
}

/* Navbar Styles */
nav{
    margin-top: 30px;
}

nav ul li img{
    width:24px;
    height: 24px;
}

/* Responsive Styles */
@media screen and (max-width:767px) {
    
    nav{
        max-width: 361px;
        margin: 0 auto;
        margin-top: 13px;
    }

    .visibility{
        display: none;
    }
}