/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.noto-serif-text {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Share Styles */
.display_center{
    margin: 0 auto;
}

.primary_color{
    color: #E95A08;
}

.secondary_color{
    color: rgba(0, 0, 0, 0.5);
    line-height:normal;
}

/* Header Styles */
nav{
    margin-top: 30px;
}

nav ul li img{
    width:24px;
    height: 24px;
}

header section{
    margin-top: 226px;
}

header section h5{
    line-height:normal;
}

/* Footer Styles */
.news_bg{
    background-image:url("assets/news-letter-bg.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 533px;
}

.news_email{
    width: 644px;
    height: 50px;
    background-color: white;
    padding: auto 20px;
}

.news_btn{
    width: 186px;
    height: 50px;
    color: white;
    background-color: #E95A08;
}

.footer_part{
    margin: 50px 160px ;
    display: grid;
    grid-template-columns: 359px 85px 128px 216px;
    gap: 110px;
}

.gap{
    gap: 35px;
}

/* Responsive Styles */
@media screen and (max-width:576px) {
    
    /* Header Styles */
    nav{
        margin: 0 auto;
        margin-top: 13px;
        width: calc(100% - 32px);
    }

    .visibility{
        display: none;
    }

    header section {
        display: flex;
        flex-direction: column-reverse;
        gap: 28px;
        margin: 0px;
    }

    header section div {
        margin: 0 auto;
        width: calc(100% - 32px);
    }

    header section img{
        width:100%;
    }

    header section h5{
        font-size: 1.5rem;
    }

    header section p{
        font-size: 0.8rem;
    }

    /* Footer Styles */
    .news_bg{
        height: 276px;
    }

    footer section h4{
        font-size: 1.25rem;
    }

    .news_email{
    width: 13.6rem;
    }

    .news_btn{
    width: 6.4rem;
    }

    .footer_part{
    width: 22.4rem;
    margin: 3.1rem 0.8rem 3.1rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    }

    .info{
        font-size: 1rem;
    }

    .menu{
        gap: 32px;
    }

    .icon{
        
    }

}